
<nav class=" bg-amber-100   whitespace-nowrap dark:bg-black dark:">
    <ul class="flex  justify-start items-center p-2 space-x-14 text-xl font-bold ">
        <li><img src="/logo.jpg" class="w-20 rounded-full"></li>
        <li>Inicio</li>
        <li>Sobre nosotros</li>
        <li>Contacto</li>
        <li>
            <button (click)="toggleDarkMode()" class="px-4 py-2 bg-gray-700 hover:bg-gray-600 text-white rounded-lg" >
                Cambiar modo</button>
        </li>
    </ul>
</nav>

<section class="pt-4 pb-4 flex justify-center items-center text-white ">
    <div class=" flex flex-col justify-center items-center  pt-3 pb-3 w-[700px] h-auto bg-gray-500 overflow-hidden rounded-xl">
        <h1 class="  font-bold text-5xl">Aprende el trabajo del futuro</h1>
        <img src="/coding.svg" class="w-80 mt-8">
        <p class="mt-8 p-2 text-lg text-center">Aprende cualquier tecnología que quieras tan solo en un click. Tenemos cursos de todos los niveles. Accede a los cursos desde 0$ </p>

        <button class="bg-black text-white p-2 rounded-lg ">Accede</button>
    </div>

</section>

<section class="flex justify-center items-center flex-col">
    <h1 class="text-xl"> ¿Por qué nosotros?</h1>
    <p> Tenemos variedad de cursos sobre cuaquier framework y lenguaje disponible</p>


    <div class=" pt-5 grid grid-cols-3 gap-8  w-200 p-3">
        <div class="flex justify-center items-center bg-gray-500 p-4 rounded-2xl">
            <img src="/logo-angular.png" class="w-32">
        </div>
        <div class="flex justify-center items-center bg-gray-500 p-4 rounded-2xl">
            <img src="/React-logo.png" class="w-32">
        </div>
        <div class="flex justify-center items-center bg-gray-500 p-4 rounded-2xl">
            <img src="vuejs-logo.png" class="w-32">
        </div>
    </div>

    
</section>